# Created by .ignore support plugin (hsz.mobi)
/ZF-note.iml
/.idea/
/old/算法/node_modules/
/old/算法/.vscode/
/13.fs/name.txt
/13.fs/age.txt
/age.txt
/a.txt
/name.txt
/old/14.websocket/node_modules/

/old/201903_architecture_course/.vscode/
/old/app唤醒/node_modules/
/old/0.css3/node_modules/
